body {
	margin: 0;
	padding: 0;
}
.infoContainer {
	background-color: blue;
	display: none;
}
.headerImg {
	position: absolute;
	z-index: 5;
}
.projectContainer {
	width: 50%;
	height: 400px;
	float: left;
}
