/* CSS Document */
/* css reset */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
html,
body {
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  border: 0;
  list-style: none;
  font-style: normal;
  box-sizing: border-box;
  text-decoration: none;
  color: #000; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div#achtergrondBol, .bolClick {
  border-radius: 50%;
  background: #ccc2ff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /*    z-index: -1;*/
  width: 110vh;
  height: 110vh; }

.bolClick {
  width: 100vh;
  height: 100vh;
  background: none;
  border: 3em solid #ccc2ff;
  animation: clickIt 1s;
  z-index: -1; }

header {
  display: flex;
  justify-content: center;
  /*    padding: 1em;*/
  height: 4em;
  /*    background: rgba(239, 46, 46, 0.5);*/
  box-shadow: 10px 10px 5px #000; }

header a {
  transform: translateY(-50%); }

header img {
  position: absolute;
  float: left;
  top: 1em;
  height: 7em;
  width: 7em;
  left: 2em;
  z-index: 10; }

header a, .button, form input#submit {
  margin: 0 1em;
  color: #000;
  position: relative;
  top: calc(50% - 5px);
  height: 50%;
  font-size: 90%;
  display: inline-block;
  text-align: center;
  padding: 1em;
  border-radius: 20px;
  background-color: white;
    /*
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
*/
  transition: all ease 0.2s;
  box-shadow: 0px 5px #d3b899;
  position: relative;
  background-color: #fcd3a3;
  color: white;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
  line-height: 50%;
  cursor: pointer; }

header a:hover,
.button:hover,
form input#submit:hover {
  background-color: #808fff;
  box-shadow: 0px 5px #b9bcfa;
  text-decoration: none; }

header a:active,
.button:active,
form input#submit:active {
  box-shadow: 0px 0px #b9bcfa;
  margin-top: 5px;
  text-decoration: none; }

header a:focus,
.button:focus,
form input#submit:focus {
  outline: none; }

section#container {
  width: 100%;
  height: calc(100vh - 4em);
  z-index: 2;
  position: relative;
  background: #f7f5ff; }

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*    background-color: #e8e8e8;*/
  z-index: -1; }

div.bolContainer {
  overflow: hidden;
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute; }

div#bolletjesSlikker {
  position: absolute;
  width: 150vh;
  height: 150vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  div#bolletjesSlikker div.bol {
    width: 50vw;
    height: 50vw;
    background-color: #ccc2ff;
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: 2s bolletje infinite ease-in-out; }
  div#bolletjesSlikker div.bol:nth-child(1) {
    background-color: #ccc2ff;
    width: 150%;
    height: 150%; }
  div#bolletjesSlikker div.bol:nth-child(2) {
    background-color: #775cff;
    width: 90%;
    height: 90%; }
  div#bolletjesSlikker div.bol:nth-child(3) {
    background-color: #2800f5;
    width: 70%;
    height: 70%; }
  div#bolletjesSlikker div.bol:nth-child(4) {
    background-color: #17008f;
    width: 50%;
    height: 50%; }

.floating {
  -webkit-animation-name: Floating;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: Floating;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation: Floating 7s infinite ease-in-out;
  -ms-animation: Floating 7s infinite ease-in-out; }

.floating2 {
  -webkit-animation-name: Floatingsx;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floatingsx;
  -moz-animation-duration: 7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out; }

.floating3 {
  -webkit-animation-name: Floatz;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floatz;
  -moz-animation-duration: 7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out; }

.floating:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused; }

.floating2:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused; }

.floating3:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused; }

@-webkit-keyframes Floating {
  0% {
    -webkit-transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(20px, 0); }
  50% {
    -webkit-transform: translate(0, 20px); }
  75% {
    -webkit-transform: translate(20, 20px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Floating {
  0% {
    -moz-transform: translate(0, 0px); }
  25% {
    -moz-transform: translate(20px, 0px); }
  50% {
    -moz-transform: translate(0px, 20px); }
  75% {
    -moz-transform: translate(20px, 20px); }
  100% {
    -moz-transform: translate(0px, 0px); } }
@keyframes Floating {
  0% {
    transform: translate(0, 0px); }
  25% {
    transform: translate(20px, 0px); }
  50% {
    transform: translate(0px, 20px); }
  75% {
    transform: translate(20px, 20px); }
  100% {
    transform: translate(0px, 0px); } }
@-ms-keyframes Floating {
  0% {
    -ms-transform: translate(0, 0px); }
  25% {
    -ms-transform: translate(20px, 0px); }
  50% {
    -ms-transform: translate(0px, 20px); }
  75% {
    -ms-transform: translate(20px, 20px); }
  100% {
    -ms-transform: translate(0px, 0px); } }
@-webkit-keyframes Floatingsx {
  0% {
    -webkit-transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(0px, 20px); }
  50% {
    -webkit-transform: translate(20px, 20px); }
  75% {
    -webkit-transform: translate(20px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Floatingsx {
  0% {
    -moz-transform: translate(0, 0px); }
  25% {
    -moz-transform: translate(0px, 20px); }
  50% {
    -moz-transform: translate(20px, 20px); }
  75% {
    -moz-transform: translate(20px, 0px); }
  100% {
    -moz-transform: translate(0px, 0px); } }
@-webkit-keyframes Floatz {
  0% {
    -webkit-transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(20px, 20px); }
  50% {
    -webkit-transform: translate(0px, 20px); }
  75% {
    -webkit-transform: translate(20px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Floatz {
  0% {
    -moz-transform: translate(0, 0px); }
  25% {
    -moz-transform: translate(20px, 20px); }
  50% {
    -moz-transform: translate(0px, 20px); }
  75% {
    -moz-transform: translate(20px, 0px); }
  100% {
    -moz-transform: translate(0px, 0px); } }
@keyframes logoBigTiny {
  0%,
    100% {
    max-height: 55vh;
    max-width: 55vw; }
  50% {
    max-height: 50vh;
    max-width: 50vw; } }
@keyframes rainBow {
  0% {
    color: #f77575; }
  15% {
    color: #fc8ae1; }
  30% {
    color: #9b9bff; }
  45% {
    color: #93e6ff; }
  60% {
    color: #80ff94; }
  75% {
    color: #f6ff84; }
  100% {
    color: #ff9494; } }
@keyframes bolletje {
  0%,
    100% {
    zoom: 150%;
    transform: scale(1.55); }
  50% {
    zoom: 100%;
    transform: scale(1.5); } }
@keyframes discoTime1 {
  100% {
    width: 150%;
    height: 150%; }
  0% {
    width: 110%;
    height: 110%; } }
@keyframes discoTime2 {
  0% {
    width: 100%;
    height: 100%; }
  100% {
    width: 90%;
    height: 90%; } }
@keyframes discoTime3 {
  0% {
    width: 100%;
    height: 100%; }
  100% {
    width: 70%;
    height: 70%; } }
@keyframes discoTime4 {
  0% {
    width: 100%;
    height: 100%; }
  100% {
    width: 50%;
    height: 50%; } }
@keyframes clickIt {
  100% {
    width: 300vh;
    height: 300vh; } }
.contact {
  width: 100%;
  height: 100%;
  background: #eaecff; }

form {
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
  color: white;
  z-index: 2;
  position: relative; }
  form h1 {
    font-size: 6vw;
    padding: 0.5em;
    color: inherit; }
  form p {
    font-size: 2em;
    padding: 0.3em 0.5em 0;
    margin-bottom: -0.2em;
    color: white;
    font-weight: bold;
    width: 50%;
    transition: ease-in-out 0.5s;
    user-select: none;
    cursor: default; }
  form input[name="email"],
  form input[name="name"] {
    width: 50%; }
  form div {
    width: auto; }
  form div.naam:hover p,
  form div.email:hover p,
  form div.bericht:hover p {
    padding-left: 30%; }
  form input[name="email"]:focus,
  form input[name="name"]:focus,
  form textarea:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #fff5e7; }
  form input[name="email"],
  form input[name="name"],
  form textarea {
    font-size: 1em;
    padding: 1em;
    border-radius: 10px;
    height: 2.5em; }
  form textarea[name="message"] {
    font-family: inherit;
    vertical-align: top;
    height: 30vh;
    width: 100%;
    resize: none; }
  form input#submit {
    margin: 1em;
    float: right; }

section#container img#logoBig {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  max-height: 50vh;
  z-index: 10;
  width: auto;
  height: auto;
  border-radius: 50%;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  animation: logoBigTiny 5s infinite ease-in-out; }

section#container {
  overflow: hidden; }
  section#container h2 {
    width: 50%;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: initial; }
  section#container div#bolletjesSlikker {
    position: absolute;
    width: 150vh;
    height: 150vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    section#container div#bolletjesSlikker div.bol {
      width: 50vw;
      height: 50vw;
      background-color: #ccc2ff;
      border-radius: 50%;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      animation: 2s  ease-in-out; }
    section#container div#bolletjesSlikker div.bol:nth-child(1) {
      animation-name: discoTime1;
      background-color: #ccc2ff;
      width: 150%;
      height: 150%; }
    section#container div#bolletjesSlikker div.bol:nth-child(2) {
      animation-name: discoTime2;
      background-color: #775cff;
      width: 90%;
      height: 90%; }
    section#container div#bolletjesSlikker div.bol:nth-child(3) {
      animation-name: discoTime3;
      background-color: #2800f5;
      width: 70%;
      height: 70%; }
    section#container div#bolletjesSlikker div.bol:nth-child(4) {
      animation-name: discoTime4;
      background-color: #17008f;
      width: 50%;
      height: 50%; }
  section#container .keywords {
    width: 100%;
    padding: 20px 0px;
    font-size: 0.8em; }
    section#container .keywords h2:nth-child(1) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2 {
      padding: 10px;
      color: #fff !important; }
    section#container .keywords h2:nth-child(2) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2:nth-child(3) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2:nth-child(4) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2:nth-child(5) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2:nth-child(6) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2:nth-child(7) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2:nth-child(8) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2:nth-child(9) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }

@media (max-width: 700px) {
  section#container div#bolletjesSlikker {
    width: 100vh;
    height: 100vh; }
  section#container img#logoBig {
    top: -1em;
    left: 3em;
    width: 5em;
    z-index: 999; }

  div#achtergrondBol, .bolClick {
    top: 3em;
    left: 3em;
    width: 6em;
    height: 6em;
    z-index: -10;
    display: none; }

  header {
    justify-content: flex-end; }
    header a {
      margin: 1%; }

  form {
    width: 100vw; }
    form input[name="email"],
    form input[name="name"] {
      width: 80%; }
    form input[name="email"],
    form input[name="name"],
    form textarea {
      margin: 0 1em; }
    form textarea {
      width: calc(100% - 2em) !important; }

  .about .about_area {
    min-width: 0 !important;
    margin-top: 20% !important; }
  .about div {
    margin: 0;
    padding: 0;
    left: 0;
    display: block !important;
    float: none !important;
    width: 100% !important;
    text-align: center; }
    .about div h2 {
      width: 100%;
      float: none;
      text-align: center; }
    .about div p {
      width: 100%;
      float: none; }

  .floating,
  .floating2,
  .floating3 {
    animation: none; } }
@media (min-width: 700px) {
  .keywords h2:nth-child(1) {
    position: absolute;
    left: 0px; }
  .keywords h2:nth-child(2) {
    position: absolute;
    left: -300px; }
  .keywords h2:nth-child(3) {
    position: absolute;
    left: 300px; }
  .keywords h2:nth-child(4) {
    position: absolute;
    left: -400px; }
  .keywords h2:nth-child(5) {
    position: absolute;
    left: 400px; }
  .keywords h2:nth-child(6) {
    position: absolute;
    left: -350px; }
  .keywords h2:nth-child(7) {
    position: absolute;
    left: 350px; }
  .keywords h2:nth-child(8) {
    position: absolute;
    left: -400px; }
  .keywords h2:nth-child(9) {
    position: absolute;
    left: 200px;
    top: 100px; } }
.portfolio {
  width: 100%;
  height: 100%;
  background: #eaecff; }

.infoContainer {
  width: 500px;
  margin-left: 40px;
  margin-top: 40px;
  background-color: blue;
  display: none;
  overflow: hidden; }

.infoTitle {
  margin-left: 4em;
  padding: 0.3em; }

.headerImg:hover .infoContainer {
  -moz-animation-name: grow;
  -moz-animation-duration: 3s; }

.headerImg {
  width: 100px;
  position: absolute;
  z-index: 5;
  border-radius: 50%; }

.circle {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-left: -50px;
  margin-top: -50px;
  background-color: white;
  border-radius: 50%; }

.projectContainer {
  position: relative;
  width: 50%;
  height: 50%;
  float: left; }

.ani1 {
  -moz-animation-name: show;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards; }

.ani2 {
  -moz-animation-name: hide;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards; }

@-moz-keyframes show {
  from {
    width: 0px;
    height: 0px; }
  to {
    display: block;
    width: 500px;
    height: 430px; } }
@-moz-keyframes hide {
  from {
    width: 500px;
    height: 430px; }
  to {
    width: 0px;
    height: 0px; } }
.about {
  width: 100%;
  height: 100%;
  background: #eaecff;
  padding-top: 5%;
  margin: 0 auto; }

.about_area {
  width: 20vw;
  min-width: 500px; }
  .about_area div {
    width: 50%;
    height: auto;
    display: inline-block;
    float: right;
    padding: 0 0 0 1em; }

.about_area img {
  width: 50%;
  height: auto;
  border-radius: 50%; }

.about_area h2 {
  float: right;
  height: auto;
  display: inline-block;
  width: 200%;
  vertical-align: text-top;
  text-align: right;
  font-size: 2em; }

.about_area p {
  width: 100%;
  padding: 1em;
  display: inline-block;
  float: right; }

.perry {
  position: relative;
  left: 10%;
  float: left; }

.mark {
  margin-left: 30%;
  float: left; }

.noeel {
  float: left;
  margin: 10%; }

.rico {
  margin-left: 5%;
  float: left; }

/*# sourceMappingURL=style.css.map */
