/* CSS Document */
/* css reset */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
html,
body {
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  border: 0;
  list-style: none;
  font-style: normal;
  box-sizing: border-box;
  text-decoration: none;
  color: #000; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div#achtergrondBol, .bolClick {
  border-radius: 50%;
  background: #ccc2ff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /*    z-index: -1;*/
  width: 110vh;
  height: 110vh; }

.bolClick {
  width: 100vh;
  height: 100vh;
  background: none;
  border: 3em solid #ccc2ff;
  animation: clickIt 1s;
  z-index: -1; }

header {
  display: flex;
  justify-content: center;
  /*    padding: 1em;*/
  height: 4em;
  /*    background: rgba(239, 46, 46, 0.5);*/
  box-shadow: 10px 10px 5px #000; }

header a {
  margin: 0 1em;
  color: #000;
  position: relative;
  top: calc(50% - 5px);
  height: 50%;
  font-size: 90%;
  transform: translateY(-50%);
  display: inline-block;
  text-align: center;
  padding: 1em;
  border-radius: 20px;
  background-color: white;
    /*
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
*/
  transition: all ease 0.2s;
  box-shadow: 0px 5px #d3b899;
  position: relative;
  background-color: #fcd3a3; }

header a p {
  top: 50%;
  display: block;
  position: relative;
  transform: translateY(-50%);
  margin: 0;
  color: white;
  text-decoration: none;
  font-weight: 600; }

header a:hover {
  background-color: #808fff;
  box-shadow: 0px 5px #b9bcfa;
  text-decoration: none; }

header a:active {
  box-shadow: 0px 0px #b9bcfa;
  margin-top: 5px;
  text-decoration: none; }

header a:focus {
  outline: none; }

section#container {
  width: 100%;
  height: calc(100vh - 3em);
  z-index: 2;
  position: relative;
  background: #f7f5ff; }

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*    background-color: #e8e8e8;*/
  z-index: -1; }

.floating {
  -webkit-animation-name: Floating;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: Floating;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation: Floating 7s infinite ease-in-out;
  -ms-animation: Floating 7s infinite ease-in-out; }

.floating2 {
  -webkit-animation-name: Floatingsx;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floatingsx;
  -moz-animation-duration: 7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out; }

.floating3 {
  -webkit-animation-name: Floatz;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floatz;
  -moz-animation-duration: 7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out; }

.floating:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused; }

.floating2:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused; }

.floating3:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused; }

@-webkit-keyframes Floating {
  0% {
    -webkit-transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(20px, 0); }
  50% {
    -webkit-transform: translate(0, 20px); }
  75% {
    -webkit-transform: translate(20, 20px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Floating {
  0% {
    -moz-transform: translate(0, 0px); }
  25% {
    -moz-transform: translate(20px, 0px); }
  50% {
    -moz-transform: translate(0px, 20px); }
  75% {
    -moz-transform: translate(20px, 20px); }
  100% {
    -moz-transform: translate(0px, 0px); } }
@keyframes Floating {
  0% {
    transform: translate(0, 0px); }
  25% {
    transform: translate(20px, 0px); }
  50% {
    transform: translate(0px, 20px); }
  75% {
    transform: translate(20px, 20px); }
  100% {
    transform: translate(0px, 0px); } }
@-ms-keyframes Floating {
  0% {
    -ms-transform: translate(0, 0px); }
  25% {
    -ms-transform: translate(20px, 0px); }
  50% {
    -ms-transform: translate(0px, 20px); }
  75% {
    -ms-transform: translate(20px, 20px); }
  100% {
    -ms-transform: translate(0px, 0px); } }
@-webkit-keyframes Floatingsx {
  0% {
    -webkit-transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(0px, 20px); }
  50% {
    -webkit-transform: translate(20px, 20px); }
  75% {
    -webkit-transform: translate(20px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Floatingsx {
  0% {
    -moz-transform: translate(0, 0px); }
  25% {
    -moz-transform: translate(0px, 20px); }
  50% {
    -moz-transform: translate(20px, 20px); }
  75% {
    -moz-transform: translate(20px, 0px); }
  100% {
    -moz-transform: translate(0px, 0px); } }
@-webkit-keyframes Floatz {
  0% {
    -webkit-transform: translate(0, 0px); }
  25% {
    -webkit-transform: translate(20px, 20px); }
  50% {
    -webkit-transform: translate(0px, 20px); }
  75% {
    -webkit-transform: translate(20px, 0px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-moz-keyframes Floatz {
  0% {
    -moz-transform: translate(0, 0px); }
  25% {
    -moz-transform: translate(20px, 20px); }
  50% {
    -moz-transform: translate(0px, 20px); }
  75% {
    -moz-transform: translate(20px, 0px); }
  100% {
    -moz-transform: translate(0px, 0px); } }
@keyframes logoBigTiny {
  0%,
    100% {
    max-height: 55vh;
    max-width: 55vw; }
  50% {
    max-height: 50vh;
    max-width: 50vw; } }
@keyframes rainBow {
  0% {
    color: #f77575; }
  15% {
    color: #fc8ae1; }
  30% {
    color: #9b9bff; }
  45% {
    color: #93e6ff; }
  60% {
    color: #80ff94; }
  75% {
    color: #f6ff84; }
  100% {
    color: #ff9494; } }
@keyframes bolletje {
  0%,
    100% {
    zoom: 150%;
    transform: scale(1.55); }
  50% {
    zoom: 100%;
    transform: scale(1.5); } }
@keyframes discoTime1 {
  100% {
    width: 150%;
    height: 150%; }
  0% {
    width: 110%;
    height: 110%; } }
@keyframes discoTime2 {
  0% {
    width: 100%;
    height: 100%; }
  100% {
    width: 90%;
    height: 90%; } }
@keyframes discoTime3 {
  0% {
    width: 100%;
    height: 100%; }
  100% {
    width: 70%;
    height: 70%; } }
@keyframes discoTime4 {
  0% {
    width: 100%;
    height: 100%; }
  100% {
    width: 50%;
    height: 50%; } }
@keyframes clickIt {
  100% {
    width: 300vh;
    height: 300vh; } }
.contact {
  width: 100%;
  height: 100%;
  background: #eaecff; }

.form_container {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .form_container h1 {
    font-size: 40px;
    padding: 30px; }
  .form_container p {
    font-size: 24px; }
  .form_container input {
    padding-left: 10px;
    margin: 10px;
    border-radius: 20px;
    height: 2.5em;
    width: 30em; }
  .form_container textarea {
    padding: 5px;
    margin: 10px;
    width: 30em; }

section#container img#logoBig {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  max-height: 50vh;
  z-index: 10;
  width: auto;
  height: auto;
  border-radius: 50%;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  animation: logoBigTiny 5s infinite ease-in-out; }

section#container {
  overflow: hidden; }
  section#container h2 {
    width: 50%;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: initial; }
  section#container div#bolletjesSlikker {
    position: absolute;
    width: 150vh;
    height: 150vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    section#container div#bolletjesSlikker div.bol {
      width: 50vw;
      height: 50vw;
      background-color: #ccc2ff;
      border-radius: 50%;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      animation: 2s  ease-in-out; }
    section#container div#bolletjesSlikker div.bol:nth-child(1) {
      animation-name: discoTime1;
      background-color: #ccc2ff;
      width: 150%;
      height: 150%; }
    section#container div#bolletjesSlikker div.bol:nth-child(2) {
      animation-name: discoTime2;
      background-color: #775cff;
      width: 90%;
      height: 90%; }
    section#container div#bolletjesSlikker div.bol:nth-child(3) {
      animation-name: discoTime3;
      background-color: #2800f5;
      width: 70%;
      height: 70%; }
    section#container div#bolletjesSlikker div.bol:nth-child(4) {
      animation-name: discoTime4;
      background-color: #17008f;
      width: 50%;
      height: 50%; }
  section#container .keywords {
    width: 100%;
    padding: 20px 0px;
    font-size: 0.8em; }
    section#container .keywords h2:nth-child(1) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }
    section#container .keywords h2:nth-child(2) {
      position: relative;
      margin: 0 auto;
      display: block;
      text-align: center; }

@media (max-width: 700px) {
  section#container div#bolletjesSlikker {
    width: 100vh;
    height: 100vh; }
  section#container img#logoBig {
    top: -1em;
    left: 3em;
    width: 5em; }

  div#achtergrondBol, .bolClick {
    top: 3em;
    left: 3em;
    width: 6em;
    height: 6em;
    z-index: -10; }

  header {
    text-align: right; } }
.portfolio {
  width: 100%;
  height: 100%;
  background: #eaecff; }

.infoContainer {
  width: 500px;
  margin-left: 40px;
  margin-top: 40px;
  background-color: blue;
  display: none;
  overflow: hidden; }

.infoTitle {
  margin-left: 4em;
  padding: 0.3em; }

.headerImg:hover .infoContainer {
  -moz-animation-name: grow;
  -moz-animation-duration: 3s; }

.headerImg {
  width: 100px;
  position: absolute;
  z-index: 5;
  border-radius: 50%; }

.circle {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-left: -50px;
  margin-top: -50px;
  background-color: white;
  border-radius: 50%; }

.projectContainer {
  position: relative;
  width: 50%;
  height: 50%;
  float: left; }

.ani1 {
  -moz-animation-name: show;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards; }

.ani2 {
  -moz-animation-name: hide;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards; }

@-moz-keyframes show {
  from {
    width: 0px;
    height: 0px; }
  to {
    display: block;
    width: 500px;
    height: 430px; } }
@-moz-keyframes hide {
  from {
    width: 500px;
    height: 430px; }
  to {
    width: 0px;
    height: 0px; } }
.about {
  width: 100%;
  height: 100%;
  background: #eaecff;
  padding-top: 20px;
  margin: 0 auto; }

.about_area {
  width: 500px; }

.about_area img {
  width: 200px;
  border-radius: 50%; }

.about_area h1 {
  float: right;
  font-size: 40px; }

.about_area p {
  margin-top: -130px;
  margin-left: 50px;
  float: right;
  width: 250px; }

.perry {
  position: relative;
  left: 100px;
  float: left; }

.rico {
  margin: 100px 250px;
  float: left; }

.mark {
  margin-left: 400px;
  float: left; }

.noeel {
  float: left;
  margin: -50px 250px; }

/*# sourceMappingURL=style.css.map */
