//index scss
section#container img#logoBig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    max-height: 50vh;
//    z-index: 10;
    width: auto;
    height: auto;
    border-radius: 50%;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    animation: logoBigTiny 5s infinite ease-in-out;
}

section#container {
    //    overflow: hidden;
    .keywords {
        width: auto;
        padding: 20px 0px;
        font-size: 0.8em;
//        overflow: hidden;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        span {
            //            @extend .floating;
            display: inline-block;
            width: auto;
            width: 48%;
            padding: 0.9em;
            color: #fff !important;
//            width: auto;
            font-family: $headF;
            font-weight: bold;
//            display: initial;
            position: relative;
            margin: 0 auto;
//            display: block;
            text-align: center;
            cursor:default;
            
            h2{
                letter-spacing: 0.1em;
                font-size: 2vw;
                color: lighten(#FFB12B, 10%);
                display: inline-block;
                cursor: pointer;
                user-select:none;
            }
            h2:hover{
                color: white;
            }
            p{
                display: none;
                font-size: 1.1em;
                position: absolute;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                max-width: 50vw;
                margin: 1em 0 0 0;
                padding: 1em;
                background-color: lighten($bolK,6%);
                z-index: 9001;
                border-radius: 10px;
            }
        }
        
    }
    #index {
        position: absolute;
        overflow-x: hidden;
        div#bolletjesSlikker div.bol {
            animation-iteration-count: 1!important;
            animation-name: none;
            animation-duration: 3s !important;
        }
        div#bolletjesSlikker div.bol:nth-child(1) {
            animation-name: discoTime1!important;
        }
        div#bolletjesSlikker div.bol:nth-child(2) {
            animation-name: discoTime2!important;
        }
        div#bolletjesSlikker div.bol:nth-child(3) {
            animation-name: discoTime3!important;
        }
        div#bolletjesSlikker div.bol:nth-child(4) {
            animation-name: discoTime4!important;
        }
    }
}