//index scss
section#container img#logoBig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    max-height: 50vh;
    width: auto;
    height: auto;
    border-radius: 50%;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    animation: logoBigTiny 5s infinite ease-in-out;
}

@keyframes logoBigTiny{
    0%, 100% {
        max-height: 55vh;
        max-width: 55vw;
    }
    50% {
        max-height: 50vh;
        max-width: 50vw;
    }
}

section#container{ 
    
    
     h2 {
    //    @extend .floating;
        width: 50%;
        animation: 5s infinite ease;
        animation-name: Floating, rainBow;
        font-size: 3em;
        font-family: $headF;
        font-weight: bold;
        padding: 0 1em;
        display: initial;
    }
    div.bol{
        width: 50vw;
        height: 50vw;
//        background-color: $bolColor;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}