//index scss
section#container img#logoBig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    max-height: 50vh;
    z-index: 10;
    width: auto;
    height: auto;
    border-radius: 50%;
    -webkit-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    animation: logoBigTiny 5s infinite ease-in-out;
}



section#container {
    overflow: hidden;
    h2 {
        width: 50%;
        font-size: 3em;
        font-family: $headF;
        font-weight: bold;
        display: initial;
    }
    div#bolletjesSlikker {
        position: absolute;
        width: 150vh;
        height: 150vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        div.bol {
            width: 50vw;
            height: 50vw;
            background-color: $bolK;
            border-radius: 50%;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            animation: 2s  ease-in-out;

        }
        div.bol:nth-child(1){
            animation-name: discoTime1;
            background-color: lighten($bolK, 0%);
//            animation-delay: 0.6s;
            width: 150%;
            height: 150%;
        }
        div.bol:nth-child(2){
            animation-name: discoTime2;
            background-color: darken($bolK, 20%);
//            animation-delay: 0.4s;
            width: 90%;
            height: 90%;
        }
        div.bol:nth-child(3){
            animation-name: discoTime3;
            background-color: darken($bolK, 40%);
//            animation-delay: 0.2s;
            width: 70%;
            height: 70%;
        }
        div.bol:nth-child(4){
            animation-name: discoTime4;
            background-color: darken($bolK, 60%);
//            animation-delay: 1.0s;
            width: 50%;
            height: 50%;
        }
    }
    .keywords{
        width:100%;
        padding: 20px 0px;
        font-size: 0.8em;
        h2:nth-child(1){
            position:relative;
            margin: 0 auto;
            display: block;
            text-align: center;
            
        }
        h2{
            padding: 10px;
            color:#fff !important;
        }
        h2:nth-child(2){
            position: relative;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        h2:nth-child(3){
            position: relative;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        h2:nth-child(4){
            position: relative;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        h2:nth-child(5){
            position: relative;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        h2:nth-child(6){
            position: relative;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        h2:nth-child(7){
            position: relative;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        h2:nth-child(8){
            position: relative;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        h2:nth-child(9){
            position: relative;
            margin: 0 auto;
            display: block;
            text-align: center;
        }


    }
}