//wieZijnWij .scss

.about{
    padding-top: 20px;
    margin: 0 auto;
}

.about_area{
    width:500px;

}
.about_area img{
    width:200px;
    border-radius: 50%;
}
.about_area h2{
    float: right;
    font-size: 40px;
}
.about_area p{
    margin-top: -130px;
    margin-left: 50px;
    float: right;
    width: 250px;
}

.perry{
    position: relative;
    left: 100px;
    float: left;
}

.rico{
    margin: 100px 250px;
    float: left;
}
.mark{
    margin-left: 400px;
    float: left;
}

.noeel{
    float: left;
    margin: -50px 250px;
}