//main scss
html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*    background-color: #e8e8e8;*/
    z-index: -1;
}

div#achtergrondBol {
    border-radius: 50%;
    background: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /*    z-index: -1;*/
    width: 110vh;
    height: 110vh;
}

.floating {
    -webkit-animation-name: Floating;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    animation-name: Floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation: Floating 7s infinite ease-in-out;
    -ms-animation: Floating 7s infinite ease-in-out;
}

.floating2 {
    -webkit-animation-name: Floatingsx;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatingsx;
    -moz-animation-duration: 7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

.floating3 {
    -webkit-animation-name: Floatz;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatz;
    -moz-animation-duration: 7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

.floating:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

.floating2:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

.floating3:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

.con_left {
    z-index: 200;
    position: absolute;
    top: 50px;
    left: 2000px;
    width: 100%;
    height: 100%;
    background: #eaecff;
}

.con_mid {
    z-index: 200;
    position: absolute;
    top: 0px;
    left: 2000px;
}

.con_right {
    z-index: 200;
    position: absolute;
    top: 0px;
    left: 2000px;
}